@import '../../styles/mixins';

.card-groups {
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 50px);
  color: #eee;
  font-weight: 300;
  display: flex;
  overflow-x: auto;
}

.card-groups > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.card-groups-header {
  padding: 15px;
  font-size: 1.4em;
  font-weight: bold;
}
